<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Campground</title>
</head>
<body>
<form action="/campgrounds/<%= campground._id %>?_method=PUT" method="post">
    <div>
        <lable for="title">Title</lable>
        <input type="text" id="title" name="campground[title] " value="<%= campground.title%>">
    </div>
    <div>
        <lable for="Location">Location</lable>
        <input type="text" id="Location" name="campground[location]" value="<%= campground.location%>">
    </div>
    <button>Update Campground</button>
    <a href="/campgrounds<%= campground._id%>">Back to all Campgrounds</a>
</form>
</body>
</html>