<% layout('layouts/boilerplate') -%>
<div class="row">
    <h1 class="text-center">New Campground</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds" method="post" class="validated-form" enctype="multipart/form-data" novalidate>
            <div class="mb-3">
                <lable class="form-label" for="title">Title</lable>
                <input class="form-control" type="text" id="title" name="campground[title]" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
                <lable class="form-label" for="Location">Location</lable>
                <input class="form-control" type="text" id="Location" name="campground[location]" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3 custom-file">
                <label for="image" class="form-label custom-file-label">Choose images...</label>
                <input class="form-control custom-file-input" type="file" id="image" name="image" multiple>
            </div>
            <!--<input type="file" name="image" id="" multiple>-->
            <!--<div class="mb-3">
                <lable class="form-label" for="image">Image Url</lable>
                <input class="form-control" type="text" id="image" name="campground[image]"  required>
                <div class="valid-feedback">Looks good!</div>
            </div>-->
            <div class="mb-3">
                <label class="form-label mb-0" for="price">Campground Price</label>
                <div class="input-group ">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" placeholder="0.00" id="price" aria-label="Username"
                           aria-describedby="price-label"  name="campground[price]"  required>
                    <div class="valid-feedback">Looks good!</div>
                </div>
            </div>
            <div class="mb-3">
                <lable class="form-label" for="description">Description</lable>
                <textarea class="form-control" type="text" id="description" name="campground[description]"  required></textarea>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Add Campground</button>
            </div>
            <a href="/campgrounds">Back to all Campgrounds</a>
        </form>
    </div>
</div>