<% layout('layouts/boilerplate') -%>
<form action="/campgrounds" method="post">
    <div>
        <lable for="title">Title</lable>
        <input type="text" id="title" name="campground[title]">
    </div>
    <div>
        <lable for="Location">Location</lable>
        <input type="text" id="Location" name="campground[location]">
    </div>
    <button>Add Campground</button>
    <a href="/campgrounds">Back to all Campgrounds</a>
</form>
