<% layout('layouts/boilerplate')%>
<h1>Register</h1>
<form action="/register" method="post" class="validated-form" novalidate>
    <div class="mb-3">
        <lable class="form-label" for="username">username</lable>
        <input class="form-control" type="text" id="username" name="username" required>
        <div class="valid-feedback">Looks good!</div>
    </div>
    <div class="mb-3">
        <lable class="form-label" for="email">Email</lable>
        <input class="form-control" type="email" id="email" name="email" required>
        <div class="valid-feedback">Looks good!</div>
    </div>
    <div class="mb-3">
        <lable class="form-label" for="password">Password</lable>
        <input class="form-control" type="password" id="password" name="password" required>
        <div class="valid-feedback">Looks good!</div>
    </div>
    <button class="btn btn-success">Register</button>
</form>